*{
    margin: 0;
}
header{
    background-color: #265073;
    h1{color: aliceblue;}
    p{color: aliceblue;}
    text-align: center;
    padding: 10px;
}
nav{
    background-color: #2D9596;
    ul{padding: 10px;}
    padding-left: 0;
    margin: auto;
    text-align: center;
    a{text-decoration: none;}
    a{color: aliceblue}
}
nav li{
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border-style: solid;
    border-width: medium;
    border-color: #F1FADA;
    margin: 10px;
}
main{
    background-color: #9AD0C2;
    h3{text-align: center;}
    h3{padding: 20px;}
    h4{padding: 10px;}
    p{padding: 20px;}
    a{margin: 30px;}
    a{color: aliceblue;}
    li{padding-bottom: 10px;}
}
footer{
    background-color: #265073;
    color: aliceblue;
    a{color: aliceblue}
    text-align: center;
    padding: 30px;
}