*{
    margin: 0;
}
header{
    background-color: #33186B;
    color: aliceblue;
    text-align: center;
    padding: 5px;
}
nav{
    background-color: #C499F3;
    ul{padding: 10px;}
    padding-left: 0;
    margin: auto;
    text-align: center;
    a{text-decoration: none;}
}
li{
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border-style: solid;
    border-width: medium;
    margin: 10px;
}
main{
    background-color: #F2AFEF;
    text-align: center;
    padding: 20px;
    h3{padding: 20px}
    p{padding: 10px}
}
footer{
    background-color: #33186B;
    color: aliceblue;
    padding: 30px;
    text-align: center;
}
a{
    color: aliceblue;
}
