*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #265073;
    h1{color: aliceblue;}
    p{color: aliceblue;}
    text-align: center;
    padding: 2%;
}
nav{
    background-color: #2D9596;
    ul{padding: 2%;}
    padding-left: 0;
    margin: auto;
    text-align: center;
    a{text-decoration: none;}
    a{color: aliceblue}
}
nav li{
    display: inline;
    padding: 1% 2%;
    font-size: calc(5px + 1vw);
    text-decoration: none;
    border-style: solid;
    border-width: medium;
    border-color: #F1FADA;
    margin: 2%;
}
main{
    background-color: #9AD0C2;
    h3{text-align: center;}
    h3{padding: 1%;}
    h4{padding: 1%;}
    p{padding: 1%;}
    p{font-size: calc(5px + 1vw);}
    a{margin: 1%;}
    a{color: #0d3480;}
    li{padding-bottom: 2%;}
    height: 80vh;
}
footer{
    background-color: #265073;
    color: aliceblue;
    a{color: aliceblue}
    text-align: center;
    padding: 2%;
}
@media screen and (max-width: 768px) {
    h3 {
        font-size: calc(5px + 1vw);
    }
    h4 {
        font-size: calc(5px + 1vw);
    }
    main li{
        font-size: calc(5px + 1vw);
    }
    main a{
        font-size: calc(5px + 1vw);
    }
    footer{
        font-size: calc(5px + 1vw);
    }
    main{
        height: 80vh;
    }
}