*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #3468C0;
    h1{color: aliceblue;}
    p{color: aliceblue;}
    text-align: center;
    padding: 2%;
}
nav{
    background-color: #FF9843;
    ul{padding: 2%;}
    padding-left: 0;
    margin: auto;
    text-align: center;
    a{text-decoration: none;}
    a{color: black}
}
nav li{
    display: inline;
    padding: 1% 2%;
    font-size: calc(5px + 1vw);
    text-decoration: none;
    border-style: solid;
    border-width: medium;
    border-color: #86A7FC;
    margin: 2%;
}
main{
    background-color: #FFDD95;
    h3{padding: 2%;}
    h3{font-size: calc(5px + 1vw);}
    li{padding: 2%;}
    li{font-size: calc(5px + 1vw);}
    height: 60vh;
}
footer{
    background-color: #3468C0;
    color: aliceblue;
    a{color: aliceblue;}
    padding: 3%;
    font-size: calc(5px + 1vw);
    text-align: center;
}
@media screen and (max-width: 768px){
main{height: 80vh;}
}